* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 100%;
	height: 100vh;
	/* この三つがセットとして使われているのは理由があるのじゃないかな？ */
	background-image: url(/assets/background.png);
	background-position: center;
	background-size: cover;
	padding-left: 5%;
	padding-right: 5%;
}

.navigation {
	width: 100%;
	height: 15vh;
	margin: auto;
	display: flex;
	/* align-itemsにしたら、なぜイメージの大きさが変わるんだろう。 */
	align-items: center;
}

.navigation-logo {
	max-width: 160px;
	cursor: pointer;
}

.navigation-cart {
	max-width: 40px;
	cursor: pointer;
}

.navigation nav {
	flex: 1;
	margin-left: 40px;
}

.navigation nav ul {
	display: flex;
	list-style: none;
}

.navigation nav ul li {
	margin-left: 45px;
}
.navigation nav ul li a {
	text-decoration: none;
	color: #333;
}

.content {
	height: 65vh;
	position: relative;
	left: 10%;
	top: 20%;
}

.content .btn {
	background: linear-gradient(45deg, #87adfe, #ff77cd);
	border-radius: 40px;
	padding: 10px 20px;
	text-decoration: none;
	color: #fff;
	box-shadow: 3px 8px 22px rgba(94, 28, 68, 0.2);
}

.content h1 {
	font-size: 3.5em;
	font-weight: 100;
	margin-top: 40px;
	margin-bottom: 15px;
	color: #444;
}

.content p {
	font-size: 1.2em;
	font-weight: 100;
	color: #555;
}

.content .arrow-btn {
	margin-top: 30px;
	max-width: 40px;
	margin-right: 15px;
	cursor: pointer;
}

.feature-img {
	max-width: 850px;
	position: absolute;
	bottom: 0;
	right: 180px;
}

.social-link {
	position: absolute;
	left: -80px;
	top: 80%;
}

.social-link ul {
	display: flex;
	list-style: none;
	transform: rotate(-90deg);
}

.social-link ul li {
	padding-right: 15px;
}

.social-link ul li a {
	text-decoration: none;
	color: #6a7199;
	font-size: 14px;
}
